body {
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#stats { 
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
}

#gui { 
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}